.masthead-homepage {
  background-position: center;
  background-size: cover;
}

.masthead__img--wrapper {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.masthead__img {
  width: 60px;
}
