// .modal-photo {
//   display: "block";
//   justify-content: "center";
//   align-items: "center";
//   padding-right: "15px";
//   background-color: "rgba(0,0,0,.4)";
//   overflow-x: "auto";
// }

.modal-content {
  border-radius: 0;
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
