#navbar {
  transition: 0.2s;
}

.navbar-toggler {
  border: 2px solid #ddd;
  border-radius: 100%;
  padding: 2rem;
  font-size: 30px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08), 0 3px 8px rgba(0, 0, 0, 0.08);
  width: 40px;
  height: 40px;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:visited,
.navbar-toggler:hover {
  outline: none;
}

// #navbar .nav-item .nav-link {
//   color: whitesmoke;
// }
