.slick-list,
.slick-track {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.slick-list img {
  cursor: pointer;
}

// .slick-track {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .slick-slide {
//   margin-left: 8px;
//   margin-right: 8px;
// }
