.slick-list,
.slick-track {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.slick-list img {
  cursor: pointer;
}

@media only screen and (min-width: "576px") {
  .slick-next:before,
  .slick-prev:before {
    color: darkslategrey !important;
  }
}
